<nav class="navbar navbar-expand padding">
    <div class="container-fluid">
        <img src="https://magento2.magentech.com/themes/sm_marketnew/pub/media/logo/stores/89/logo.png" alt="Bootstrap" width="150" height="40">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav justify-content-center">
            <li class="nav-item">

              <div class="dropdown">
                <a  class="nav-link dropdown-toggle active" type="a " id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                  HOME
                </a >
                <ul class="dropdown-menu col-3" aria-labelledby="dropdownMenu2">
                  <li><button class="dropdown-item " type="button" routerLink="table">Table</button></li>

                </ul>             
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" routerLink=""><b>FEATURE</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" routerLink="Under"><b>UNDER$100</b></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" routerLink="Newarrivals"><b>NEW ARRIVALS</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="deals"><b>DEALS</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="aboutus"><b>ABOUT US</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="Contactus"><b>CONTACT US</b></a>
              </li>
          </ul>
        
      </div>
    </div>
  </nav>
