<div class="row">
    <div class="col-2">
       <h5>Welcome To Shop</h5>
    </div>
    <div class="col-7">
        <hr>
    </div>
    <div class="col-2">
        <h5>Why we choose</h5>
     </div>
     <div class="col-1">
        <hr>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 x">
          <img src="http://magento2.magentech.com/themes/sm_marketnew/pub/media/wysiwyg/about-us/about-us.png" alt="">
        </div>
        <div class="col-7">
          <pre>
            Nulla auctor mauris ut dui luctus semper. In hac habitasse platea dictumst. Duis pellentesque ligula a risus suscipit dignissim. 
            Nunc non nisl lacus. Integer pharetra lacinia dapibus. Donec eu dolor dui, vel posuere mauris.
            
            Pellentesque semper congue sodales. In consequat, metus eget con sequat ornare, augue dolor blandit purus,vitae lacinia nisi tellus
             in erat. Nulla ac justo eget massa aliquet sodales. Maecenas mattis male suada sem, 
             Suspendisse aliquam leo id neque auctor molestie. Etiam at nulla tellus.

            Nulla auctor mauris ut dui luctus semper. In hac habitasse platea dictumst. Duis pellentesque ligula a risus suscipit dignissim
          </pre>
        </div>
        <div class="col-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
        </div>
    </div>
</div>


<div class="container-fliud">
    <div class="row">
        <div class="col-5">
              <hr>
        </div>
        <div class="col-2 text-center">
       <h5>Our Member</h5>
       <p></p>
        </div>
        <div class="col-5">
            <hr>
        </div>
    </div>
</div>

<div class="container text-center">
    <p>Consectetur adipiscing elit. Donec pellentesque venenatis elit, quis aliquet mauris malesuada vel. Donec vitae libero dolor, eget dapibus justo. Aenean facilisis aliquet feugiat. Suspendisse lacinia congue est ac semper. Nulla ut elit magna, vitae volutpat magna.</p>
</div>

<div class="container-fluid">
    <div class="row text-center">
    <div class="col-3">
        <img src="http://magento2.magentech.com/themes/sm_marketnew/pub/media/wysiwyg/about-us/member-1.png" alt="">
        <h3>jennifer</h3>
        <p>TECH leader</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis animi voluptate ex ipsam aspernatur id libero! Earum voluptatum asperiores facere alias tenetur ullam maiores laborum, praesentium, cupiditate nam deleniti accusantium.</p>
    </div>
    <div class="col-3">
        <img src="http://magento2.magentech.com/themes/sm_marketnew/pub/media/wysiwyg/about-us/member-2.png" alt="">
        <h3>jennifer</h3>
        <p>TECH leader</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis animi voluptate ex ipsam aspernatur id libero! Earum voluptatum asperiores facere alias tenetur ullam maiores laborum, praesentium, cupiditate nam deleniti accusantium.</p>

    </div>
    <div class="col-3">
        <img src="http://magento2.magentech.com/themes/sm_marketnew/pub/media/wysiwyg/about-us/member-3.png" alt="">
        <h3>jennifer</h3>
        <p>TECH leader</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis animi voluptate ex ipsam aspernatur id libero! Earum voluptatum asperiores facere alias tenetur ullam maiores laborum, praesentium, cupiditate nam deleniti accusantium.</p>

    </div>
    <div class="col-3">
        <img src="http://magento2.magentech.com/themes/sm_marketnew/pub/media/wysiwyg/about-us/member-4.png" alt="">
        <h3>jennifer</h3>
        <p>TECH leader</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis animi voluptate ex ipsam aspernatur id libero! Earum voluptatum asperiores facere alias tenetur ullam maiores laborum, praesentium, cupiditate nam deleniti accusantium.</p>

    </div>  
</div>
</div>