<nav class="navbar container top bg">
    <div class="container mb-3 mt-3 z-intex">
      <h1 class="navbar-brand mb-0 h1">SIGN UP FOR NEWSLETTER</h1>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Gmail" aria-label="Search">
        <button class="btn btn-light" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="black">
    
<div class="fooder container ">
    <div class="row text-center ">
        <div class="col-2 mrt">
            <h5>INFORMATION</h5>
    <li class="list-group">Shipping & Returns</li>
  <li class="list-group">Secure Shopping</li>
  <li class="list-group">Order Status</li>
  <li class="list-group">International Shipping</li>
  <li class="list-group">Payment Method</li>
        </div>
        <div class="col-2 mrt">
          <h5>OUR SERVICES        </h5>
            <li class="list-group">Privacy Policy</li>
            <li class="list-group">Customer Service</li>
            <li class="list-group">Orders and Returns</li>
            <li class="list-group">Contact Us</li>
            <li class="list-group">Track Your Orders</li></div>
        <div class="col-2 mrt">
            <h5>FOOTER LINK</h5>
            <li class="list-group">Shipping Returns</li>
  <li class="list-group">Secure Shopping</li>
  <li class="list-group">Order Status</li>
  <li class="list-group">International Shipping</li>
  <li class="list-group">Orders and Returns</li>
        </div>
        <div class="col-2 mrt">
            <h5>CONTACT INFO</h5>
            <li class="list-group"><i class="fa-sharp fa-solid fa-location-dot"></i>San Luis Potosis Centro
                Historico, SLP, Mexico</li>
  <li class="list-group"><i class="fa-sharp fa-solid fa-phone"></i>(+888) 1900 888 666
    (+888) 0943 446 000</li>
  <li class="list-group"><i class="fa-solid fa-laptop"></i>Support_@domain.com</li>
  <li class="list-group"><i class="fa-sharp fa-solid fa-alarm-plus"></i>Monday to Satuday,
  8:00AM - 20:00PM</li>

        </div>

        <div class="col-4 mrt">
            <h5>CONNECT WITH US</h5>
            <div class="i mt-5">
            <i class="fa-solid fa-laptop"></i><i class="fa-solid fa-virus"></i><i class="fa-solid fa-envelope"></i><i class="fa-solid fa-shower"></i><i class="fa-solid fa-sack-dollar"></i></div>

            <h5 class="mt-5">DOWNLOAD APP</h5>

            <div class="row ml-5">
                <div class="col-4 mt-5">
                    <img src="http://magento2.magentech.com/themes/sm_marketnew/pub/media/wysiwyg/app/app-3.png" width="100px" alt="">
                </div>
                <div class="col-4 mt-5">
                    <img src="http://magento2.magentech.com/themes/sm_marketnew/pub/media/wysiwyg/app/app-4.png" width="100px" alt="">
                </div>
            </div>
        </div>

        
    </div>
</div>
</div>